.main-container{
  padding-top: 50px;
}

.navbar-brand {
  height: auto;
  padding: 30px 15px;
  font-size: 2rem;
  line-height: 25px;
}

a.logo{
  width: 6em;
}

.form-control:focus {
  border-color: #0478d6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
  box-shadow: inset 0 1px 1px rgba(74, 65, 65, 0.075), 0 0 8px #277dd6;
}

.navbar-toggle {
  background: #cbcbd6;
}

.navbar-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

#search-block-form{
    margin-top: 2rem;
    width: 19rem;
    float: right;
}

.region-footer-bar-left ul.menu li{
  display: inline-block;
}

.region-footer-bar-left ul.menu li:hover  a{
  background-color: transparent!important;
}




@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.card {
  display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #EDF2F6;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
  color: #D30015;
}
